body {
    background-color: rgb(255, 255, 255);
    font: bold 19px monospace, sans-serif;
    text-align: center;
}

h3 {
    color: purple;
}

hr {
    border: 10px solid rgb(4, 0, 255);
}

input {
    color: blue;
    font-size: 15px;
}

button {
    color: blue;
    font-size: 20px;
}

a {
    font-family: monospace;
    font-size: 18px;
    font-color: rgb(255, 32, 207);
}

input[type="text"] {
    color: rgb(218, 0, 0);
    background-color: rgb(255, 216, 243);
}

input[type="password"] {
    color: rgb(218, 0, 0);
    background-color: rgb(255, 209, 110);
}

div.box {
    background: rgb(218, 248, 255);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 50px 50px 50px 50px;
    border-image: ;
    margin: 100px;
    border-width: 10px;
    padding: 50px;
}

div.box-inner {
    background: none;
    border-style: solid;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

div.red {
    text-shadow: 3px 3px red;
}